{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Задание к лабораторной работе №2</h1>

        <p class="fw-bold">
            1. Отображение данных запроса.
        </p>

        <p>Добавьте в приложение страницы, на которых отображаются:</p>

        <ul class="my-3">
            <li>параметры URL,</li>
            <li>заголовки запроса,</li>
            <li>cookie,</li>
            <li>параметры формы.</li>
        </ul>

        <p>В качестве формы необходимо добавить форму авторизации. После того как в нее введены данные, эти данные выводяться на страницу.</p>

        <p class="fw-bold mt-4">
            2. Форма с обработкой ошибок.
        </p>

        <p>
            Создайте страницу с формой для ввода номера телефона. Форма должна состоять из текстового поля и кнопки «Проверить».
            По нажатию на кнопку данные формы должны отправляться на сервер при помощи метода POST.
        </p>

        <p>На стороне сервера необходимо реализовать проверку, что в поле введён номер телефона заданного формата:</p>

        <ul class="my-3">
            <li>имеет длину 10-11 цифр;</li>
            <li>может содержать дополнительные символы: пробелы, круглые скобки, дефисы, точки, +.</li>
        </ul>

        <div class="row mt-4">
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Данные запроса</h5>
                        <p class="card-text">Просмотр параметров URL, заголовков запроса и cookies</p>
                        <a href="{{ url_for('request_info') }}" class="btn btn-dark">Перейти</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Авторизация</h5>
                        <p class="card-text">Форма для ввода данных авторизации с отображением параметров</p>
                        <a href="{{ url_for('login') }}" class="btn btn-dark">Перейти</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Проверка телефона</h5>
                        <p class="card-text">Форма с валидацией и обработкой ошибок для номера телефона</p>
                        <a href="{{ url_for('phone') }}" class="btn btn-dark">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
